/******************************************
 * COZINHAS
 ******************************************/

.produtos {

  background-color:       $neutral;
  padding-left:           0;
  padding-right:          0;

  @include media-query(portable) { 
    padding-top: 0;
    .page-container { padding: 0; } 
  }
  
  @include media-query(palm){ background-color: $cm_purple; }
   
  
  .linha {
    height:                 50%;
    position:               absolute;
    width:                  33.3333%;
    float:                  left;
    text-align:             center;
    padding-top:            $base-spacing-unit*7;
    
    @include media-query(lap-and-up) { padding-top: 5%; }
    @include media-query(palm){left: 0; width: 100%; padding-top: 0; }

    &.linha-play {
      top:                  0;
      left:                 0;
      //height:               100%;
      height:               50%;

      @include floor($hero-play, $hero-play-base64);
      @include media-query (portable) { .btn { background: $hero-play; } };
      @include media-query(palm){left: 0; width: 100%; height: 14%; top: 8% ;}
      @include media-query(landscape){left: 0; width: 100%; height: 14%; top: 20% ;}

      .cozinha,
      .modelo {
        @include media-query(lap){
          top: 0;
        }
      }

      .cozinhas-title { 
         color: $cinza-funghi; 
        
        @include media-query(lap){ top: -40px;  font-size: 24px;  }
        @include media-query(landscape){  top: -10px;  font-size: 18px;  }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }

    &.linha-city {
      left:               25%;
      height:             50%;
      width:              25%;
      bottom:             0;

      @include floor($hero-city, $hero-city-base64);
      @include media-query (portable) { .btn { background: $hero-city; } };
      @include media-query(lap-and-up) {  padding-top: 0; };
       @include media-query(palm){left: 0; width: 100%; height: 13.28%; top: 61.84%;}
       @include media-query(landscape){left: 0; width: 100%; height: 13.28%; top: 73.12% ;}
      
      .modelo {visibility: hidden;} 
      .cozinha {
        top: -$base-spacing-unit/4;
        width: 100%;
        max-width: 250px;
        
        img { max-width: 250px; width: 100%; }
        
        @include media-query(lap){  top: 5px;   }
        @include media-query(wide){ top: 40px; }
      }

      .cozinhas-title { 
         color: $verde-cha; 
        
        @include media-query(lap){  top: -60px;  font-size: 24px;  }
        @include media-query(landscape){  top: -10px;  font-size: 18px;  }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }

    &.kits {
      left:                 50%;
      height:               50%;
      width:                25%;
      bottom:               0;

      @include floor($hero-kits, $hero-kits-base64);
      @include media-query (portable) { .btn { background: $hero-kits; } };
      @include media-query(lap-and-up) {  padding-top: 0; };
       @include media-query(palm){left: 0; width: 100%;  height: 12.28%; top: 75.12%;}
       @include media-query(landscape){left: 0; width: 100%; height: 12.28%; top: 85.4% ;}
      
      
      .cozinha, .modelo {
        top: -$base-spacing-unit/4;
        
        @include media-query(lap){
          top: 20px;
        }
      }

      .cozinhas-title { 
        color: $verde-alecrim; 
        
        @include media-query(lap){  top: -60px;  font-size: 24px;  }
        @include media-query(landscape){  top: -10px;  font-size: 18px;  }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }
    
    &.linha-unica {
      left:                 0;
      height:               50%;
      width:                25%;
      bottom:               0;

      @include floor($hero-unica, $hero-unica-base64);
      @include media-query (portable) { .btn { background: $hero-unica; } };
      @include media-query(lap-and-up) {  padding-top: 0; };
      @include media-query(palm){left: 0; width: 100%; height: 13.28%; top: 48.56%;  }
      @include media-query(landscape){left: 0; width: 100%; height: 13.28%; top: 59.84% ;}
      
      .cozinha {
        top: -$base-spacing-unit;
        width: 100%;
        max-width: 250px;
        
        img { max-width: 250px; width: 100%; }
        
        @include media-query(lap){ top: 5px; }
        @include media-query(wide){ top: 40px; }
      }

      .cozinhas-title { 
         color: $cm_purple; 
        
        @include media-query(lap){  top: -60px;  font-size: 24px;  }
        @include media-query(landscape){ top: -10px;  font-size: 18px;  }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }
    
    &.linha-smart {
      top:                  0;
      left:                 33.33333%;
      //height:               100%;
      height:               50%;

      @include floor($hero-smart, $hero-smart-base64);
      @include media-query (portable) { .btn { background: $hero-smart; } };
      @include media-query(palm){left: 0; width: 100%; height: 13.28%; top: 22%; }
      @include media-query(landscape){left: 0; width: 100%; height: 13.28%; top: 33.28% ;}

      .cozinha {
        top: -$base-spacing-unit;
        width: 100%;
        //max-width: 200px;
        
        img { max-width: 200px; width: 100%; }
        
        @include media-query(lap){  top: 5px;  }
        @include media-query(wide){ top: 40px; }
      }

      .cozinhas-title { 
         color: $cm_petroleum; 
        
        @include media-query(lap){  top: -40px;  font-size: 24px; }
        @include media-query(landscape){  top: -10px;  font-size: 18px;  }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }
    
    &.linha-quadri {
      top:                  0;
      right:                0;
      //height:               100%;
      height:               50%;

      @include floor($hero-quadri, $hero-quadri-base64);
      @include media-query (portable) { .btn { background: $hero-quadri; } };
      @include media-query(palm){left: 0; width: 100%; height: 13.28%; top: 35.28%;}
      @include media-query(landscape){left: 0; width: 100%; height: 13.28%; top: 46.56% ;}

      .cozinha {
        top: -$base-spacing-unit;
        width: 100%;
        //max-width: 200px;
        
        img { max-width: 200px; width: 100%; }
        
        @include media-query(lap){  top: 5px;  }
        @include media-query(wide){ top: 40px; }
      }

      .cozinhas-title { 
         color: $cm_red; 
        
        @include media-query(lap){top: -40px; font-size: 24px;}
        @include media-query(landscape){  top: -10px;  font-size: 18px; }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }
    
    &.linha-complemento {
      right:                 0;
      height:               50%;
      width:                25%;
      bottom:               0;

      @include floor($hero-unica, $hero-unica-base64);
      @include media-query (portable) { .btn { background: $hero-unica; } };
      @include media-query(lap-and-up) {  padding-top: 0; };
      @include media-query(palm){left: 0; width: 100%; height: 12.28%; top: 87.4%;}
      @include media-query(landscape){left: 0; width: 100%; height: 12.28%; top: 97.68% ;}
      
      .cozinha {
        top: -$base-spacing-unit;
        width: 100%;
        max-width: 250px;
        
        img { max-width: 250px; width: 100%; }
        
        @include media-query(lap) { top: 5px; }
        @include media-query(wide){ top: 40px; }
        
      }

      .cozinhas-title { 
        color: $cm_purple; 
        
        @include media-query(lap){ top: -60px;  font-size: 24px;  }
        @include media-query(landscape){  top: -10px; font-size: 18px; }
        @include media-query(wide){ bottom: 0px; font-size: 40px; }
      }
    }
    
    .to-mobile-play {
      @include media-query(palm) { top: 10px; }
    }
    .btn-mobile-play {
      @include media-query(palm) { top: 30px; }
      @include media-query(landscape) { top: 5px; }
    }
    
  }

  .cozinhas-title {
    display:              block;
    line-height:            .8;
    text-align:           left;
    margin-left:          double($base-spacing-unit);

    @include media-query(portable) { margin-left: halve($base-spacing-unit) !important; }

    @include media-query (lap-and-up) {
      position:           absolute;
    }

    @include font-size(40px, 1);
    @include media-query(desk) { @include font-size(40px, .8); top: double($base-spacing-unit)*-1.5; }
    @include media-query(wide) { @include font-size(120px, .8); }
    @include media-query(palm) { @include font-size(30px, .8); }
    @include media-query(desk-only){ @include font-size(30px, .8); }

    small {
      display:              block;
      font-weight:          normal;
      color:                $white;
      text-indent:          halve($base-spacing-unit);

      @include font-size(18px, 1);
      @include media-query(wide) { @include font-size(30px, 1); }
      @include media-query(palm) { @include font-size(16px, 1);  }
      
    }
  }

  .offset {
    @include media-query(lap-and-up) {
      position:             relative;
      top:                  25%;
    }
    @include media-query(palm) {
      position:             absolute;
      top:                  15px;
    }
    
    .show-hide { 
        visibility: hidden;
        @include media-query(palm) { visibility: visible; }
        @include media-query(lap) { visibility: visible; }
      }

    // @include media-query(desk) { margin-top: -$header-total-medium; }
    // @include media-query(wide) { margin-top: -$header-total; }
  }

  .modelo,
  .cozinha {
    position:               absolute;
    padding:                0 halve($base-spacing-unit);
    top:                    -$base-spacing-unit*2;

    @include media-query(palm) { display: none !important; }

    @include media-query(desk) {
      width:                  100%;
      max-width:              350px;
      left:                   50%;

      transform:              translate(-50%, 0);
    }

    @include media-query (wide) {
      max-width:              600px;
      margin-top:             -$base-spacing-unit;
    }
  }

  .u-disabled-graphic {
    opacity:                .5;
  }

  .modelo { z-index: 1; }

  .btn {
    position:               absolute;
    left:                   50%;
    bottom:                 double($base-spacing-unit)*2;
    z-index:                3;

    transform:              translate(-50%, 0);

    @include media-query(lap-and-up) {
      bottom:               auto;
      top:                  50%;
      margin-top:           120px;
    }
    
    @include media-query(desk-only) {
      bottom:               auto;
      top:                  50%;
      margin-top:           120px;
      width:                180px;
    }

    @include media-query(wide) {
      margin-top:           $header-total + $base-spacing-unit;
    }

    @include media-query(superwide) {
      margin-top:           60px;
    }
    
    @include media-query(palm) {
      left:                 85%;
      top:                  20px;
      bottom:               auto;
      @include font-size(12px, 1);
    }
    @include media-query(lap) {
      left:                 50%;
      top:                  130px;
      bottom:               auto;
      @include font-size(15px, 1);
    }
    @include media-query(landscape){
      left:                 75%;
      top:                  5px;
      bottom:               auto;
      @include font-size(15px, 1);
    }
  }

  .btn--placeholder {
    border: none;
    color: $azul-blueberry;
    font-weight: $bold;
    white-space: nowrap;

    &::after,
    &::before {
      content: "-";
        display: inline-block;
        width: 60px;
        height: 2px;
        background: $azul-blueberry;
        margin: 5px 10px;
        overflow: hidden;
    }
  }
  
  .dark-produtos{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #aeafae;
    z-index:10;
    opacity: 0.8;
    filter: alpha(opacity=80);
  }
  .banner-desculpe {
    position:absolute;
    left: 50%;
    top:20%;
    margin-left: -180px;
    max-width: 360px;
    width:100%;
    z-index:20;
  }
  @include media-query(mobile) {
    .banner-desculpe {
      margin-left: -157px;
    }
  }
  @include media-query(mobile-small) {
    .banner-desculpe {
      margin-left: -120px;
    }
  }
  .banner-desculpe .img-banner {
    max-width:360px;
    width:100%;
  }
  
}